<% include _header %>
<% include _navbar %>
<div class="container">
    <div class="jumbotron">
        <h1>Welcome to Word Mapper!</h1>
        <p>
			Get the <a href="javascript:(function(){document.body.appendChild(document.createElement('script')).src='<%= baseUrl %>/static/js/bookmarklet.js';})();" class="btn btn-primary btn-lg">WordMapper</a> bookmarklet.
		</p>
    </div>
</div>

<!-- instructions start here -->

<div class="col-md-6">
<h3>What is Word Mapper</h3>
<p><strong>Word Mapper</strong> is a web accessible tool that enables students, faculty, and other collaborators to build discontinuous word alignments between two or more texts, so that they can build and share glossaries to aid learning and research.</p>
<br/><br/><br/>
<h3>Reference Implementation</h3>
<p>The bookmarklet above was based on Professor Mark Schiefsky's <a link="http://harvard-atg.github.io/wordmapper/proto/table_2016-02-06.html">original work</a> to develop a word alignment tool.</p>
</div>
<div class="col-md-6">
<h3>How to install Word Mapper</h3>
<ol>
	<li>Make sure your browser's Bookmarks Bar is visible.</li><br/>  
	<li>Install <strong>Word Mapper</strong> by dragging <a href="javascript:(function(){document.body.appendChild(document.createElement('script')).src='<%= baseUrl %>/static/js/bookmarklet.js';})();" class="btn btn-primary btn-lg">WordMapper</a> to your Bookmarks Bar.</li>
	<br/>
	<img src="/static/images/testfirstimage.png" Alt="bookmarklet">
	<li>Once you have the bookmarklet, you can then navigate to a project, such as <a href="http://www.graeco-arabic-studies.org/compare-texts/work/ars-medica-2/left/1/right/2/section/10/active/2%2C1.html">Ars Medica 10</a>, and click the bookmarklet to activate <strong>Word Mapper</strong>.</li>
	<br/><p><img src="/static/images/testsecondimage.png" Alt="bookmarklet"></p><br/>
	<li>You should now see the <strong>Word Mapper</strong> toolbar appear at the top of your page.</li>
	<br/><p><img src="/static/images/testthirdimage.png" Alt="bookmarklet"></p>
</ol>
</div>

<!-- instructions end here -->

<% include _footer %>
