/.vagrant
/coverage
/node_modules
/wordmapper/client/dist/
!/wordmapper/client/dist/empty
/wordmapper/client/config/
!/wordmapper/client/config/development.js
/wordmapper/server/dotenv/.env*
!/wordmapper/server/dotenv/.env.vagrant
/wordmapper/server/src/public/js/bookmarklet.js
/wordmapper/server/ssl/
!/wordmapper/server/ssl/README*
