<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WordMapper</title>
    <!-- CSS -->
    <!-- load bootstrap and our own personal stylesheet -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.6/paper/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1>Welcome to WordMapper!</h1>
        <p>
			Get the <a href="javascript:(function(){document.body.appendChild(document.createElement('script')).src='<%= baseUrl %>/static/js/bookmarklet.js';})();" class="btn btn-primary btn-lg">WordMapper</a> bookmarklet.
		</p>
    </div>
</div>
    
</body>
</html>
