<% include _header %>
<div class="container">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<form method="post" action="/user/login">
				<h1>account login</h1>
				<div class="form-group">
					<label style="width:100%">
						<input name="email" type="email" placeholder="enter your email" class="form-control"/>
					</label>
				</div>
				<div class="form-group">
					<label style="width:100%">
						<input name="password" type="password" placeholder="enter your password" required="required" class="form-control"/>
					</label>
				</div>
				<input type="submit" value="Sign me in!" class="btn btn-primary" style="margin: 0 0 1em 0;"/>
				<div class="text-center">
					<a href="/user/register" id="">create an account</a> - <a href="#" id="">forgot password</a>
				</div>
			</form>
		</div>
	</div>
	<div class="col-md-4"></div>
</div>
<% include _footer %>
