.wordmapper {
    font-size: 14px;
    font-family: Arial,Helvetica,sans-serif;
    z-index: 1000;
}
.wordmapper h2 {
    margin: 0 0 10px 0;
}
.wordmapper button {
    font-family: inherit;
    font-size: 100%;
    padding: 0.5em 1em;
    color: rgba(0, 0, 0, 0.80); 
    border: none rgba(0, 0, 0, 0);
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
    height: 32px;
}
.wordmapper button.primary {
    background-color: rgb(0, 120, 231);
    color: #fff;
}
.wordmapper button:hover,
.wordmapper button:focus {
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.10) 40%, rgba(0,0,0, 0.20));
}
.wordmapper button:active {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.25) inset, 0 0 6px rgba(0,0,0, 0.30) inset;
    border-color: #000;
}
.wordmapper-panel {
    position: fixed;
    opacity: 0.75;
    background-color: #000;
}
.wordmapper-panel:hover {
    opacity: 0.9;
}
.wordmapper-panel-top {
    top: 0;
    height: 45px;
    width: 100%;
}
.wordmapper-panel-right {
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 130px;
}
.wordmapper-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.98;
    background-color: #fff;
    color: #000;
    padding: 1em;
    top: 45px;
    overflow: scroll;
}
.wordmapper-overlay-hidden {
    z-index: -1;
    display: none;
}
.wordmapper-dismiss {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    padding: 10px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    color: rgb(160,160,160);
}
.wordmapper-dismiss:before {
    content: "X";
}
.wordmapper-dismiss:hover {
    cursor: pointer;
    color: rgb(0, 120, 231);
}
.wordmapper-logo {
    display: block;
    float: left;
    line-height: 45px;
    font-size: 22.5px;
    vertical-align: middle;
    margin: 0 5px;
    color: #fff;
}
.wordmapper-logo > small {
    font-size: 16px;
    color: #ccc;
}
.wordmapper-panel-right button {
    font-size: 85%;
}
.wordmapper-panel-right .wordmapper-logo {
    font-size: 100%;
}
.wordmapper-buttons {
    margin: 2px 0;
}
.wordmapper-buttons > button {
    margin: 4px 2px;
}
.wordmapper-word.highlight {
    background-color: yellow;
}
.wordmapper-word.highlight2 {
    background-color: lightblue;
}
.wordmapper-word.aligned {
    color: red;
}
.wordmapper-tooltip {
    display: inline;
    position: relative;
    z-index: 1002;
}
.wordmapper-tooltip:hover:after{
    font-size: 11px;
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    top: 38px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    width: 220px;
}
.wordmapper-tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    top: 32px;
    content: "";
    left: 50%;
    position: absolute;
}

.wordmapper-overlay-content {
    width: calc(100% - 50px);
}
.wordmapper-table {
    font-size: 16px;
    border-collapse: collapse;
}
.wordmapper-table td.words,
.wordmapper-table td.comment {
    min-width: 150px;
    padding: .5em 1em;
    border: 1px solid #ddd;
}
.wordmapper-table span.word {
    margin-right: 0.25em;
}
.wordmapper-table td.comment {
    border: none;
}
.wordmapper-table td.comment span.comment,
.wordmapper-table td.comment textarea.comment
{
    font-size: 14px;
    color: #666;
}
.wordmapper-table td.comment textarea.comment {
    border: 1px solid #ddd;
    background-color: lightyellow;
    height: 75px;
    width: 300px;
}

.wordmapper-overlay-content textarea.json {
    display: block;
    min-height: 25%;
    min-height: 150px;
    width: 85%;
    outline: none;
    color: #000;
    border: 1px solid #000;
    font-size: 12px;
    font-family: monospace;
    background-color: lightyellow;
}
.wordmapper-import-messages .error {
    color: red;
}
.wordmapper-import-messages .success {
    color: green;
}