<% if (!alignments.isEmpty()) { %>
<div style="margin: 0 0 1em 0;" popout-exclude >
  <button name="action_comment" data-toggle-text="Edit Comments,Save Comments">Edit Comments</button>
</div>
<% } %>

<table class="wordmapper-table">
  <% if (alignments.isEmpty()) { %>
    <tr><td>No words have been aligned yet</td></tr>
  <% } %>
  <% _.forEach(indexData, function(data, index) { %>
    <tr>
      <% _.forEach(data.buckets, function(words, index, arr) { %>
        <td class="words" <% if(commentsPosition == "right" && index == arr.length-1 && index < maxBuckets-1) print('colspan="'+(maxBuckets-index)+'"') %>>
        <% _.forEach(words, function(word) { %>
          <span class="word" title="Word: <%- word.index %> Source: <%- word.source.index %>"><%- word.value %></span>
        <% }); %>
        </td>
      <% }); %>
      <% if(commentsPosition == "right") { %>
      <td class="comment">
        <span class="comment"><%- data.alignment.comment %></span>
        <textarea class="comment" name="comment<%= index %>" data-alignment="<%= data.alignment.id %>" placeholder="Add comment..." style="display:none"><%- data.alignment.comment || '' %></textarea>
      </td>
      <% } %>
    </tr>
    <% if(commentsPosition == "bottom") { %>
    <tr class="comment" <% print(data.alignment.comment?'':'style="display:none;"'); %>;>
      <td class="comment" colspan="<%- data.buckets.length %>">
        <span class="comment"><%- data.alignment.comment %></span>
        <textarea class="comment" name="comment<%= index %>" data-alignment="<%= data.alignment.id %>" placeholder="Add comment..." style="display:none"><%- data.alignment.comment || '' %></textarea>
      </td>
    </tr>
    <% } %>
  <% }); %>
</table>